<h1><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h1>
<span>会員ID</span>
<%= @customer.id %>
<%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  <span>氏名</span>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %><br>
  <span>フリガナ</span>
  <%= f.text_field :first_name_kana %>
  <%= f.text_field :last_name_kana %><br>
  <span>郵便番号</span>
  <%= f.text_field :postal_code %><br>
  <span>住所</span>
  <%= f.text_field :address %><br>
  <span>電話番号</span>
  <%= f.text_field :telephone_number %><br>
  <span>メールアドレス</span>
  <%= f.email_field :email %><br>
  <sapn>会員ステータス</sapn>
  <%= f.radio_button :is_active, true %>
  <%= f.label :is_active, "有効"%>
  <%= f.radio_button :is_active, false %>
  <%= f.label :is_active, "退会"%><br>
  <%= f.submit '変更を保存'%>
<% end %>