<h1><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h1>
<span>会員ID</span>
<%= @customer.id %><br>
<span>氏名<spanp>
<%= @customer.first_name %><%= @customer.last_name %><br>
<span>フリガナ</span>
<%= @customer.first_name_kana %><%= @customer.last_name_kana %><br>
<sapn>郵便番号</sapn>
<%= @customer.postal_code %><br>
<span>住所</span>
<%= @customer.address %><br>
<span>電話番号</span>
<%= @customer.telephone_number %><br>
<span>メールアドレス</span>
<%= @customer.email %><br>
<span>会員ステータス</span>
<% if @customer.is_active == true %>
  <span>有効</span>
<% else %>
  <span>退会</span>
<% end %><br>
<%= link_to '編集', edit_admin_customer_path %>
<%= link_to '注文履歴一覧を見る' %>

