<h1>注文情報確認</h1>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
       <td><%= image_tag order.get_item_image(80, 80)%></td>
    　 <td><%= order.name %></td>
    　 <td><%= order.with_tax_price %></td>
    　 <td><%= %></td>
    　 <td><%=  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>送料</th>
      <th>商品合計</th>
      <th>請求金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.postage %></td>
    </tr>
  </tbody>
</table>

<div>
  <div>
    <h2>支払方法</h2>
    <p><%= @order.method_of_payment_i18n %></p>
  </div>
  <div>
    <h2>お届け先</h2>
    <p>〒<%= @order.shipping_zip_code %> <%= @order.shipping_address %></p>
    <p><%= @order.delivery_name %></p>
  </div>
</div>

<div>
  <%= link_to "注文を確定する", completion_public_order_path %>
</div>



