<div class=".container">
  <div class="row">
    <div class="m-5">
      <h2 class="bg-info rounded-sm">
        商品一覧（全<%= Item.count %>件
      </h2>
    </div>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-1 m-4">
      <%= link_to  item_path(item.id) do %>
      <%= image_tag item.get_item_image(100, 100) %>
      <p><%= item.name %></p>
      <p>￥<%= item.with_tax_price %></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @items %>
    </div>
  </div>
</div>
