<%= image_tag @item.get_item_image(200, 200) %>
<div>
  <h1><%= @item.name %></h1>
  <%= @item.introduction %><br>
  ￥<%= @item.add_tax_price.to_s(:delimited) %>（税込）
</div>
<%= form_with model: @cart_item, url: 'public/cart_items', method: :post do |f| %>
  <%= f.select :amount, include_blank: "個数を選択" %>
  <%= f.submit 'カートに入れる'%>
<% end %>
